<a class="getstarted scrollto active" href="@Url.Action("GioHang",
"GioHang")" style="font-weight:bold; text-decoration:none">
     <i class="fa fa-cart-arrow-down" aria-hidden="true" style=" font-size:30px "></i> (@ViewBag.Tongsoluongsanpham)
</a>

